.app-top-menu-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        display: flex;
        align-items: center;
    }

    .logo-img {
        height: 60px;
        width: auto;
        max-width: 100%;
        display: block;
    }

    .spacer {
        flex: 1 1 auto;
    }

    a {
        text-decoration: none;
        margin: 0 8px;
    }

    .avatar-user {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(0, 26, 255);
        color: white;
        font-weight: 600;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
    }
}